.wpcf7 .screen-reader-response {
	position: absolute;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	width: 1px;
	margin: 0;
	padding: 0;
	border: 0;
}

.wpcf7 form .wpcf7-response-output {
	margin: 2em 0.5em 1em;
	padding: 0.2em 1em;
	border: 2px solid #00a0d2; /* Blue */
}

.wpcf7 form.init .wpcf7-response-output,
.wpcf7 form.resetting .wpcf7-response-output,
.wpcf7 form.submitting .wpcf7-response-output {
	display: none;
}

.wpcf7 form.sent .wpcf7-response-output {
	border-color: #46b450; /* Green */
}

.wpcf7 form.failed .wpcf7-response-output,
.wpcf7 form.aborted .wpcf7-response-output {
	border-color: #dc3232; /* Red */
}

.wpcf7 form.spam .wpcf7-response-output {
	border-color: #f56e28; /* Orange */
}

.wpcf7 form.invalid .wpcf7-response-output,
.wpcf7 form.unaccepted .wpcf7-response-output {
	border-color: #ffb900; /* Yellow */
}

.wpcf7-form-control-wrap {
	position: relative;
}

.wpcf7-not-valid-tip {
	color: #dc3232;
	font-size: 1em;
	font-weight: normal;
	display: block;
}

.use-floating-validation-tip .wpcf7-not-valid-tip {
	position: relative;
	top: -2ex;
	left: 1em;
	z-index: 100;
	border: 1px solid #dc3232;
	background: #fff;
	padding: .2em .8em;
	width: 24em;
}

.wpcf7-list-item {
	display: inline-block;
	margin: 0 0 0 1em;
}

.wpcf7-list-item-label::before,
.wpcf7-list-item-label::after {
	content: " ";
}

.wpcf7 .ajax-loader {
	visibility: hidden;
	display: inline-block;
	background-color: #23282d; /* Dark Gray 800 */
	opacity: 0.75;
	width: 24px;
	height: 24px;
	border: none;
	border-radius: 100%;
	padding: 0;
	margin: 0 24px;
	position: relative;
}

.wpcf7 form.submitting .ajax-loader {
	visibility: visible;
}

.wpcf7 .ajax-loader::before {
	content: '';
	position: absolute;
	background-color: #fbfbfc; /* Light Gray 100 */
	top: 4px;
	left: 4px;
	width: 6px;
	height: 6px;
	border: none;
	border-radius: 100%;
	transform-origin: 8px 8px;
	animation-name: spin;
	animation-duration: 1000ms;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

@media (prefers-reduced-motion: reduce) {
	.wpcf7 .ajax-loader::before {
		animation-name: blink;
		animation-duration: 2000ms;
	}
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

@keyframes blink {
	from {
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

.wpcf7 input[type="file"] {
	cursor: pointer;
}

.wpcf7 input[type="file"]:disabled {
	cursor: default;
}

.wpcf7 .wpcf7-submit:disabled {
	cursor: not-allowed;
}

.wpcf7 input[type="url"],
.wpcf7 input[type="email"],
.wpcf7 input[type="tel"] {
	direction: ltr;
}

@media (min-width: 992px) {
	.text-lg-start {
		text-align: left!important;
	}
}

@media (min-width: 768px) {
	.text-md-start {
		text-align: left!important;
	}
}

.fw-bold {
    font-weight: 700!important;
}

.text-reset {
    color: inherit!important;
}

.btn-outline-grey {
	display: inline-block;
	padding: 1.1875rem 2.125rem 1.1875rem 2.125rem;
	border: 1rem solid #535353;
	border-radius: 10rem;
	background-color: transparent;
	color: #535353;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-outline-grey:hover {
	background-color: #535353;
	color: #fff;
	text-decoration: none;
}

@media (max-width: 768px) {
	.btn-panjang {
		display: block;
		width: 100%;
	}
}

@media (min-width: 768px) {
	.btn-panjang {
		display: block;
		width: 50%;
	}
}

.ukuran {
	border: 1px solid;
	border-color: #bebebe;
	border-radius: 0;
	background: transparent;
	color: rgba(0, 0, 0, 0.8);
	font-weight: 500;
	line-height: 1;
	padding: .7em 1.9em;
	text-transform: uppercase;
	white-space: nowrap;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	margin-right: 5px;
	margin-bottom: 5px;
}

input[type=radio]:checked + div.ukuran {
	border: 1.5px solid;
	border-color: #000000;
	border-radius: 0;
	background-color: rgba(0, 0, 0, 0.01);
	color: rgba(0, 0, 0, 0.8);
	font-weight: 500;
	line-height: 1;
	padding: .7em 1.9em;
	text-transform: uppercase;
	white-space: nowrap;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	margin-right: 5px;
	margin-bottom: 5px;
}

/* .ukuran-selected {
	border: 1.5px solid;
	border-color: #000000;
	border-radius: 0;
	background-color: rgba(0, 0, 0, 0.01);
	color: rgba(0, 0, 0, 0.8);
	font-weight: 500;
	line-height: 1;
	padding: .7em 1.9em;
	text-transform: uppercase;
	white-space: nowrap;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	margin-right: 5px;
	margin-bottom: 5px;
} */

.warna {
	border: 1px solid;
	border-color: #bebebe;
	border-radius: 0;
	background: transparent;
	color: rgba(0, 0, 0, 0.8);
	font-size: 10pt;
	font-weight: 500;
	line-height: 1;
	padding: .7em 1em;
	text-transform: uppercase;
	white-space: nowrap;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	margin-right: 5px;
	margin-bottom: 5px;
}

/* .warna-selected {
	border: 1.5px solid;
	border-color: #000000;
	border-radius: 0;
	background-color: rgba(0, 0, 0, 0.01);
	color: rgba(0, 0, 0, 0.8);
	font-size: 10pt;
	font-weight: 500;
	line-height: 1;
	padding: .7em 1em;
	text-transform: uppercase;
	white-space: nowrap;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	margin-right: 5px;
	margin-bottom: 5px;
} */

.txt-pilihan {
	font-size: 11pt;
	color: #000;
	margin-bottom: 3px;
	font-weight: 300;
}

.shadow-4 {
	box-shadow:0 1px 1px rgba(0,0,0,0.15),0 2px 2px rgba(0,0,0,0.15),0 4px 4px rgba(0,0,0,0.15),0 8px 8px rgba(0,0,0,0.15)
}
.shadow-5 {
	box-shadow:0 1px 1px rgba(0,0,0,0.12),0 2px 2px rgba(0,0,0,0.12),0 4px 4px rgba(0,0,0,0.12),0 8px 8px rgba(0,0,0,0.12),0 16px 16px rgba(0,0,0,0.12)
}
.shadow-6 {
	box-shadow:0 1px 1px rgba(0,0,0,0.11),0 2px 2px rgba(0,0,0,0.11),0 4px 4px rgba(0,0,0,0.11),0 8px 8px rgba(0,0,0,0.11),0 16px 16px rgba(0,0,0,0.11),0 32px 32px rgba(0,0,0,0.11)
}
.shadow-sharp {
	box-shadow:0 1px 1px rgba(0,0,0,0.25),0 2px 2px rgba(0,0,0,0.2),0 4px 4px rgba(0,0,0,0.15),0 8px 8px rgba(0,0,0,0.1),0 16px 16px rgba(0,0,0,0.05)
}
.shadow-diffuse {
	box-shadow:0 1px 1px rgba(0,0,0,0.08),0 2px 2px rgba(0,0,0,0.12),0 4px 4px rgba(0,0,0,0.16),0 8px 8px rgba(0,0,0,0.2)
}
.shadow-dreamy {
	box-shadow:0 1px 2px rgba(0,0,0,0.07),0 2px 4px rgba(0,0,0,0.07),0 4px 8px rgba(0,0,0,0.07),0 8px 16px rgba(0,0,0,0.07),0 16px 32px rgba(0,0,0,0.07),0 32px 64px rgba(204, 150, 150, 0.07)
}
.shadow-shorter {
	box-shadow:0 1px 1px rgba(0,0,0,0.11),0 2px 2px rgba(0,0,0,0.11),0 4px 4px rgba(0,0,0,0.11),0 6px 8px rgba(0,0,0,0.11),0 8px 16px rgba(0,0,0,0.11)
}
.shadow-longer {
	box-shadow:0 2px 1px rgba(0,0,0,0.09),0 4px 2px rgba(0,0,0,0.09),0 8px 4px rgba(0,0,0,0.09),0 16px 8px rgba(0,0,0,0.09),0 32px 16px rgba(0,0,0,0.09)
}

.opcion-radio {
	display: inline-block;
	margin-right: 18px;
}

.opcion-radio input {
margin-right: 5px;
}

.opcion-radio input[type=radio] {
	position: absolute;
	opacity: 0;
}
.opcion-radio input[type=radio] + label:before {
	content: '';
	background: #F4F5F8;
	border-radius: 100%;
	border: 1px solid #919191;
	display: inline-block;
	width: 1.4em;
	height: 1.4em;
	position: relative;
	top: -.2em;
	margin-right: .5em;
	vertical-align: top;
	cursor: pointer;
	text-align: center;
	-webkit-transition: all 250ms ease;
	transition: all 250ms ease;
	display: inline-block;
	vertical-align: middle;
}
.opcion-radio input[type=radio]:checked + label:before {
	background-color: #2b2b2b;
	box-shadow: inset 0 0 0 4px #F4F5F8;
}
.opcion-radio label {
	display: inline-block;
	vertical-align: middle;
	line-height: 32px;
}
.tabel-detail {
	width: 100%;
	background-color: #f0f0f0;
}
table.tabel-detail tr.detail_tr td {
	padding: 2px 20px;
}
.tabel-detail tr.detail_tr td:last-child {
	text-align: right;
	font-size: 10pt;
}
table.tabel-detail tr.tr_awal td {
	padding-top: 10px;
}
table.tabel-detail tr.tr_akhir td {
	padding-bottom: 10px;
}

.member {
	background-color: #ebebeb;
	color: #7a7a7a;
	padding: 10px;
}